<p>
  vr-scenes works!
</p>
<span [hidden]="hideSpan1">
  <label>Select Scene:<br/>
  <!--<input type="radio" name="scene" value="cube-on-plane-scene"/>Cube on Plane<br>-->
  <input type="radio" [ngModel]="{checked: model.scene == 'cube-on-plane-scene'}" (ngModelChange)="model.scene='cube-on-plane-scene'" name="scene" value="cube-on-plane-scene" dhecked="checked">Cube on Plane<br/>
  </label>
</span>
<p>
<button (click)="onCanvasInitClick(input, $event)"
        [disabled]="text === 'Angular2'">3-d canvas</button>
<br/>
<div [hidden]="hideDiv1" class="container" id ="canvas-container">
   <canvas id="scene-view"
           class="camera-keypress-events"
           tabindex="1"
           (keydown)="canvasKeyHandler($event)"
           style="border: 1px solid black;"
           (window:resize)="onResize($event)"
           >
   </canvas>
</div>
