<p>
  Scenes
</p>
<span [hidden]="hideSpan1">
  <label>Select Scene:<br/></label>
  <input type="radio" [ngModel]="{checked: model.scene == 'cube-on-plane-scene'}"
    (ngModelChange)="model.scene='cube-on-plane-scene'"
    name="scene"
    value="cube-on-plane-scene"
    tabindex="1"
    dhecked="checked">Cube on Plane<br/>
  <input type="radio" [ngModel]="{checked: model.scene == 'cylinder-projection'}"
   (ngModelChange)="model.scene='cylinder-projection'"
   name="scene"
   value="cylinder-projection"
   tabindex="2"
   dhecked="checked">Cylinder Projection<br/>
  <input type="radio" [ngModel]="{checked: model.scene == 'sandbox'}"
   (ngModelChange)="model.scene='sandbox'"
   name="scene"
   value="sandbox"
   tabindex="3"
   >Sandbox<br/>
  <input type="radio" [ngModel]="{checked: model.scene == 'cyl-proj'}"
   (ngModelChange)="model.scene='cyl-proj'"
   name="scene"
   value="cyl-proj"
   tabindex="3"
   >cyl-proj<br/>
</span>
<p>
<button (click)="onCanvasInitClick(input, $event)" tabindex="4"
        [disabled]="text === 'Angular2'">3-d canvas</button>
<br/><br/>
<button (click)="onSandboxClick(input, $event)" tabindex="4"
        [disabled]="text === 'sandbox'">sandbox</button>
<br/>
<div [hidden]="hideDiv1" class="container" id ="canvas-container">
   <canvas id="scene-view"
           class="camera-keypress-events"
           tabindex="1"
           (keydown)="canvasKeyHandler($event)"
           style="border: 1px solid black;"
           (window:resize)="onResize($event)"
           >
   </canvas>
</div>
